@model HomeDetailViewModelcs;

@{
    ViewBag.PageTitle = "Employee Details";
    var photo = "~/Image/" + (Model.Employee.PhotoPath ?? "no_photo.jpg");
}

@{ if (Model.Employee == null)
    {
        <script>
            alert("No record Found");
        </script>
    }
    else
    {
        <div class="row justify-content-center m-4 p-4">
            <div class="">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@photo" alt=""
                         asp-append-version="true">
                    <div class="card-body">
                        <h5>Employee Id : @Model.Employee.EmployeeId</h5>
                        <h5>Name : @Model.Employee.EmployeeName</h5>
                        <h5>Email : @Model.Employee.Email</h5>
                        <h5>Department : @Model.Employee.Department</h5>
                        <h5>Salary :  @Model.Employee.Salary</h5>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">List</a>
                        <button class="btn btn-danger" id="confirmationDelete"
                                onclick="confirmationDelete(@Model.Employee.EmployeeId);">Delete</button>
                        <a asp-controller="Home" asp-action="Update" asp-route-id="@Model.Employee.EmployeeId" 
                           class="btn btn-primary">Update</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    function confirmationDelete(id) {
        let text;
        if (confirm("Are You sure to delete!") == true) {
            location.replace("https://localhost:44361/Home/Delete/" + id)
        }
        else {
            alert("Your Data is Safe")
        }
    }
</script>


